.skeleton {
    background: #f0f0f0;
    border-radius: 4px;
    width: 100%;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.skeleton::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
    animation: load 1.5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

.card {
    border-radius: 12px;
    height: 300px;
}

.text {
    height: 16px;
    margin-bottom: 8px;
}

.title {
    height: 24px;
    margin-bottom: 12px;
    width: 70%;
}

.circle {
    border-radius: 50%;
}

.banner {
    height: 200px;
    border-radius: 12px;
}